# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Dependencies
node_modules/

# Production build
build/
dist/

# Local env files
.env.local
.env
